@import '@fontsource/poppins';

:root {
    --primary: rgb(80, 170, 190);
    --light: rgb(225, 230, 233);
    --black: rgb(50, 51, 51);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body {
    background-color: var(--light);
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: var(--black);
    height: 10vh;
}

section {
    height: 90vh;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

button {
    background-color: transparent;
    color: var(--primary);
    padding: 1rem;
    font-size: 2rem;
    width: 30%;
    border: 2px var(--primary) solid;
    border-radius: 10px;
    transition: all 0.2s ease-out;  
    cursor: pointer;
}

button:hover {
    background-color: var(--primary);
    color: #fff;
}

.row {
    width: 70vw;
    display: flex;
    justify-content: space-around;
}

.selected {
    background-color: var(--primary);
    color: #fff;
}

